.collection-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0;
  color: white;
  font-family: "gtAmericaMono", "gtAmericaMono Fallback", ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  font-size: 20px;
}

.collection-title {
  font-size: 32px;
  font-weight: 700;
}

.collection-grid {
  margin-top: 32px;
}
