* {
  box-sizing: border-box;
  list-style-type: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "gtAmericaMono", "gtAmericaMono Fallback", ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  background-color: #f9fafb;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 24px;
}
