.navbar {
  height: 64px;
  padding: 0 32px;
  background-color: #1a1a1a;
  border-bottom: 1px solid #2a2a2a;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}