/* General Navbar Styles */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  z-index: 1000;
}

.navbar-container.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-side .logo-container {
  display: flex;
  align-items: center;
}

.logo-symbol {
  font-size: 2rem;
  color: #00d4ff; /* Lightning blue */
  margin-right: 8px;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-middle {
  display: flex;
  list-style: none;
}

.navbar-middle li {
  margin: 0 1rem;
}

.navbar-middle a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-middle a:hover {
  color: #00d4ff; /* Lightning blue */
  transform: scale(1.05);
}

.navbar-right-side button {
  padding: 0.8rem 2rem;
  margin-left: 10px;
  border-radius: 10px;
  background: transparent;
  color: #00d4ff; /* Lightning blue */
  font-size: 1rem;
  border: 2px solid #00d4ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-right-side .neon-effect {
  background: linear-gradient(45deg, #00d4ff, #ff00d4) no-repeat;
  background-size: 200% 200%;
  animation: neon-effect 1.5s infinite alternate;
}

.navbar-right-side .wallet-button:hover,
.navbar-right-side .withdraw-button:hover {
  color: #000;
  background: #00d4ff;
  border-color: #fff;
}

@keyframes neon-effect {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Modal Styles */
.withdraw-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdraw-modal-content {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px 0px #00d4ff;
}

.withdraw-modal-actions button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.withdraw-modal-actions button:hover {
  background-color: #00d4ff;
  color: #000;
}

.withdraw-modal-actions .cancel-button:hover {
  background-color: #ff00d4; /* Lightning pink */
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
  }

  .navbar-middle {
    display: flex;
    flex-direction: column;
  }

  .navbar-left-side {
    margin-bottom: 1rem;
  }

  .navbar-right-side {
    margin-top: 1rem;
  }
}
