.smart-alert {
  position: fixed;
  top: 85px;
  right: 4%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8); /* Dark background */
  color: #fff;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  max-width: 350px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smart-alert.success {
  background-color: #4caf50; /* Green for success */
}

.smart-alert.error {
  background-color: #f44336; /* Red for error */
}

.smart-alert.info {
  background-color: #2196f3; /* Blue for info */
}

.smart-alert.warning {
  background-color: #e89c11; /* Blue for info */
}
